:root {
    background-color: rgb(228, 103, 30);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

*, ::before, ::after {
    box-sizing: inherit;
    font-family: 'Orbitron', sans-serif;;
}

#pianoContainer {
    background-color: rgb(73, 153, 8);
    border: 2px solid rgb(8, 8, 8);
    border-radius: 20px;
    padding: 40px 20px 4px 20px;
    width: fit-content;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    /*box shadow*/
    
}

#key-board {
    /*background-color: rgb(48, 129, 104);*/
    display:flex;
    align-items: flex-start;
    width: fit-content;
    
}

.whiteKey {
    background-color: rgb(247, 226, 226);
    position: relative;
    width: 3vw;
    height: 32vh;
    border: 1px solid black;
    border-radius: 0% 0% 10% 10%;

}

.blackKey {
    background-color: black;
    position: absolute;
    width: 1.5vw;
    height: 18vh;
    border-radius: 0% 0% 15% 15%;
    z-index: 2;
    left:80%;

}

#blank1, #blank2 {
    display: none;
}

/* MIDDLE CONTROLS */

#mid-controls {
    display: flex;
    justify-content: space-between;
}

#met-image {
    height: 60px;
    border: 4px solid black;
    border-radius: 10%;
}

#backing-track-div {
    display: flex;
    flex-direction: column;
}

.mid {
    height: 80px;
    
}

#accompany {
    display: flex;
    flex-direction: column;
}

#backing-track-div {
    display: flex;
    flex-direction: row;
}
#patch {
    display: flex;
    font-size: 38px;
    font-family: 'Orbitron', sans-serif;
}

#patch-controls {
    width: 26px;
    height: 60px;
    margin-right: 14px;;
}

#patch-number-div {
    display:flex;
    justify-content:center;
    width: 60px;
    color: blue;
    background-color: black;
    height: 60px;
    margin-right: 14px;
    font-size: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;

}

#patch-name {
    width: 280px;
    color: blue;
    background-color: black;
    height: 60px;
    font-size: inherit;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: inherit;
    padding-left: 8px;
}


#patch-up-btn, #patch-down-btn {
    height: 30px;

}

