:root {
    background-color: rgb(226, 185, 122);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

*, ::before, ::after {
    box-sizing: inherit;
}

#pianoContainer {
    background-color: aquamarine;
    border: 2px solid rgb(8, 8, 8);
    border-radius: 20px;
    padding: 40px 20px 4px 20px;
    width: fit-content;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    /*box shadow*/
    
}

#key-board {
    /*background-color: rgb(48, 129, 104);*/
    display:flex;
    align-items: flex-start;
    width: fit-content;
    
}

.whiteKey {
    background-color: rgb(247, 226, 226);
    position: relative;
    width: 3vw;
    height: 20vh;
    border: 1px solid black;
    border-radius: 0% 0% 10% 10%;

}

.blackKey {
    background-color: black;
    position: absolute;
    width: 1.5vw;
    height: 12vh;
    border-radius: 0% 0% 15% 15%;
    z-index: 2;
    left:80%;
   

}

#blank1, #blank2 {
    display: none;
}

/* MIDDLE CONTROLS */

#mid-controls {
    display: flex;
    justify-content: space-between;
}

#met-image {
    height: 60px;
    border: 4px solid black;
    border-radius: 10%;
}

#backing-track {
    display: flex;
    flex-direction: column;
}

.mid {
    height: 80px;
    
}

#patch {
    display: flex;
}

#accompany {
    display: flex;
    flex-direction: column;
}

#patch-controls {
    width: 30px;
    height: 60px;
    margin-right: 14px;;
}

#patch-number {
    width: 60px;
    background-color: black;
    height: 60px;
    margin-right: 14px;
}

#patch-name {
    width: 280px;
    background-color: rgb(131, 12, 12);
    height: 60px;
}


#up-btn, #down-btn {
    height: 32px;
    z-index: 12;
}